/* Root colors. */
:root {
  --black: #000;
}

body {
background-color: #ADD8E6;
}

footer {
  color: var(--black);
  text-align: center;
}

header {
  color: var(--black);
  text-align: center;
}

header h1 {
  font-size: 3.5rem;
  margin: 0;
  color: #494949;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
}

textarea {
  resize: none;
}

/* Rides container. */
.rides-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 1.5rem;
  margin: 2rem 0;
  padding: 0 1rem;
}


.space {
  background-image: url('../images/space.jpg');
}

.rnr {
  background-image: url('../images/RocNRollercoaster.png');
  background-size: cover;
}
.rise {
  background-image: url('../images/rise.png');
  background-size: cover;

}
.thunder {
  background-image: url('../images/thunder.png');
  background-size: cover;

}
.tron {
  background-image: url('../images/Tron.png');
  background-size: cover;

}




.hp {
  background-image: url('../images/HP.png');
  background-size: cover;

}
.pirates {
  background-image: url('../images/pirates.png');
  background-size: cover;

}
.mako {
  background-image: url('../images/mako.png');

  background-size: cover;

}
.IG {
  background-image: url('../images/irongwazi.png');
  background-size: cover;

}
.VC {
  background-image: url('../images/VC.png');
  background-size: cover;

}

/* 2 per row. */
@media screen and (min-width: 768px) {
  .ride {
    flex: 1 1 50%;
  }
}
/* 3 per row. */
@media screen and (min-width: 1024px) {
  .ride {
    flex: 1 1 33.3333%;
  }

}